<button (click)="previousGallary()" [disabled]="gallaryIndex === 0">Tilbage</button>
<button (click)="nextGallary()" [disabled]="gallaryIndex > items.length">Flere</button>

<div class="card-container">
    <ng-container *ngFor="let item of items.slice(gallaryIndex, gallaryIndex + gallaryMaxItems)">
        <mat-card (click)="itemClick(item)" class="example-card">
            <img *ngIf="item.enhedBillede" class="item-picture" mat-card-image [src]="getFirstImage(item.enhedBillede)"
                (error)="onImageError($event)">
            <img *ngIf="!item.enhedBillede" class="item-picture" mat-card-image
                src={{noImageUrl}}>
            <mat-card-header>
                <mat-card-title>{{ item.enhedTitel }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{ item.enhedBeskrivelse }}</p>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>