<!-- item-detail.component.html -->

<div class="item-detail" *ngIf="item">
  <h2>{{ item.enhedTitel }}</h2>

  <div class="item-images">
    <img class="main-image" [src]="firstImage" alt="Main Image">
    <div class="thumbnail-images">
      <img *ngFor="let image of restImages" [src]="image" alt="Thumbnail Image">
    </div>

    <div class="user-box">
      <h2>Ejer oplysninger</h2>
      <p>{{ item.enhedEjer.fornavn}} {{ item.enhedEjer.efternavn}}</p>
      <p class="user-box-info">{{ item.enhedEjer.mail}}</p>
      <p class="user-box-info">{{ item.enhedEjer.telefonnummer}}</p>
    </div>

  </div>
  <table class="item-info">
    <tr>
      <th>Beskrivelse</th>
      <td>{{ item.enhedBeskrivelse }}</td>
    </tr>
    <tr>
      <th>Kategori</th>
      <td>{{ item.enhedsType }}</td>
    </tr>
    <tr>
      <th>Reservering tatus</th>
      <td>{{ item.statusBesked }}</td>
    </tr>
  </table>

  <app-remark-table [remarkString]="remarkString"></app-remark-table>
  
</div>