<!-- item-detail.component.html -->

<div class="item-detail" *ngIf="item">
  <h2>{{ item.enhedTitel }}</h2>

  <div class="item-images">
    <img class="main-image" [src]="firstImage" alt="Main Image">
    <div class="thumbnail-images">
      <img *ngFor="let image of restImages" [src]="image" alt="Thumbnail Image">
    </div>

    <div class="user-box">
      <h2>Ejer oplysninger</h2>
      <p>{{ item.enhedEjer.fornavn}} {{ item.enhedEjer.efternavn}}</p>
      <p class="user-box-info">{{ item.enhedEjer.mail}}</p>
      <p class="user-box-info">{{ item.enhedEjer.telefonnummer}}</p>
      <hr>
    </div>

  </div>
  <table class="item-info">
    <tr>
      <th>Beskrivelse</th>
      <td>{{ item.enhedBeskrivelse }}</td>
    </tr>
    <tr>
      <th>Kategori</th>
      <td>{{ item.enhedsType }}</td>
    </tr>
    <tr>
      <th>Reservering status</th>
      <td>{{ item.statusBesked }}</td>
    </tr>
    <ng-container *ngIf="item.statusBesked != 'Ledig'">
      <tr>
        <th> Reserveret periode</th>
        <td>{{ item.reservering.reserveringStart }} - {{ item.reservering.reserveringSlut }}</td>
      </tr>
      <tr>
        <th> Udløber om</th>
        <td *ngIf="reservationTimeLeftDays <= 1">{{ reservationTimeLeftDays }} dag</td>
        <td *ngIf="reservationTimeLeftDays >  1">{{ reservationTimeLeftDays }} dage</td>
      </tr>
    </ng-container>
  </table>

  <app-remark-table [remarkString]="remarkString"></app-remark-table>
  <ng-container *ngIf="loggedUser">
    <ng-container *ngIf="item.enhedEjer.mail !=loggedUser.mail">
      <ng-container *ngIf="item.statusBesked == 'Ledig'">
        <div class="reserve-container">
      
          <button class="defaultBtn" (click)="toggleReserveItem()">Book en reservering</button>
          <div class="reservation-container" [hidden]="hideReservationDiv">
            <div class="datepicker">
              <label>Start date:</label>
              <input type="date" [(ngModel)]="startDate">
            </div>
      
            <div class="datepicker">
              <label>End date:</label>
              <input type="date" [(ngModel)]="endDate">
            </div>
            <button class="defaultBtn" (click)="reserveItem()">Book nu</button>
            <button class="defaultBtn" (click)="toggleReserveItem()">Annuler</button>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="item.enhedEjer.mail == loggedUser.mail">
      <app-item-owner-action (editEvent)="ediItem($event)" (deleteEvent)="deleteItem($event)" (toggleActionDialog)="toggleAction()" [item]="item" [hidden]="actionMenu"></app-item-owner-action>
      <button class="defaultBtn" (click)="toggleAction()">Åbn menu</button>
    </ng-container>
  </ng-container>
</div>