<!-- item-detail.component.html -->

<div class="item-detail" *ngIf="item">
    <h2>{{ item.enhedTitel }}</h2>

    <div class="item-images">
      <img class="main-image" [src]="getFirstImage(item.enhedBillede)" alt="Main Image">
      <div class="thumbnail-images">
        <img *ngFor="let image of images.slice(1)" [src]="image" alt="Thumbnail Image">
      </div>
    </div>
  
    <!-- <table class="item-info">
      <tr>
        <th>Description</th>
        <td>{{ item.description }}</td>
      </tr>
      <tr>
        <th>Remarks</th>
        <td>
          <table class="remarks-table">
            <tr>
              <th>Weight</th>
              <td>{{ item.remarks.weight }}</td>
            </tr>
            <tr>
              <th>Height</th>
              <td>{{ item.remarks.height }}</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <th>Category</th>
        <td>{{ item.category }}</td>
      </tr>
      <tr>
        <th>Owner ID</th>
        <td>{{ item.ownerId }}</td>
      </tr>
      <tr>
        <th>Reservation Status</th>
        <td>{{ item.reservationStatus }}</td>
      </tr>
    </table> -->
  </div>
  