<ng-container *ngIf="!confirmCreate">

    <div class="front-page-container">
        <div class="middle">

            <input hidden id="file-uploader" class="form-control" type="file" multiple (change)="onChange($event)" accept="image/png, image/jpeg">

            <label id="file-upload-lbl" for="file-uploader">Tilføj billede</label>
            <ul *ngIf="file.length > 0 && file.length <= 10">
                <p> Antal filer: {{file.length}}</p>
                <li *ngFor="let item of file">
                    {{ item.name }}
                </li>
            </ul>
            

            <select (change)="categoryChange($event)" [(ngModel)]="selectedCategory.kategoriId">
                <option value="0" disabled selected>Vælg kategori</option>
                <option *ngFor="let item of itemCategories" value="{{item.kategoriId}}">{{item.enhedsType}}</option>
            </select>
            <textarea class="titleTxt" placeholder="titel" maxlength="200" rows="4" cols="24"
                [(ngModel)]="itemTitle"></textarea>
            <textarea class="descriptionTxt" placeholder="beskrivelse" maxlength="1000" rows="8" cols="36"
                [(ngModel)]="itemDescription"></textarea>
            <div class="submitBtn">
                <button class="defaultBtn" routerLink="">Tilbage til forsiden</button>
                <button class="defaultBtn" (click)="confirmCreate = true">Gå til bekræftelse</button>
            </div>
        </div>
        <div class="remark-container">
            <app-remarks  (jsonResult)="setRemark($event)"></app-remarks>
        </div>

    </div>
</ng-container>

<div *ngIf="confirmCreate" class="create-confirm-container">
    <div class="middle">
        <h4>Kategori:</h4>
        <label><strong>{{ selectedCategory.enhedsType }}</strong></label>
        
        <h3>Titel</h3>
        <label class="titleTxt" >{{ itemTitle }}</label>
        <h2>Beskrivelse</h2>
        <label class="descriptionTxt" >{{ itemDescription }}</label>
        <div class="submitBtn">
            <button class="defaultBtn" (click)="createItem()">Bekræft</button>
            <button class="defaultBtn" (click)="confirmCreate = false">Gå tilbage</button>
        </div>
        <app-remark-table [remarkString]="remarkJson"></app-remark-table>
    </div>
</div>