body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#select-box {
    padding: 8px;
}
option  {
    padding: 6px;
}
