
/* Styling for Select */
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    outline: none;
}

/* Styling for Table */
table {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 4px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Styling for Input */
input[type="text"] {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    outline: none;
}

.defaultBtn {
    border-radius: 6px;
}
.errorLabel{
    color: #ff0000;
     font-size: 14px;
}