.navigation {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to left,#FFFFFF, #000000 60%);
}

.button-link {
    text-decoration: none;
    background:linear-gradient(135deg, purple 30%, blue);
    margin-right: 10px;
    /* Button background color */
    color: #fff;
    /* Button text color */
    padding: 10px 20px;
    /* Button padding */
    border: 1px solid #0074d9;
    /* Button border (optional) */
    border-radius: 5px;
    /* Button border radius (optional) */
}

.button-link:hover {
    text-decoration: underline;
    /* Add underline when hovering */
}

.button-text {
    display: block;
}