<div class="navigation">
        <a [routerLink]="['']" class="button-link defaultBtn">
            <span class="button-text">Forside</span>
        </a>
    <a [routerLink]="['log-ind']" class="button-link defaultBtn">
        <span class="button-text">Log ind</span>
    </a>
    <a [routerLink]="['udlån']" class="button-link defaultBtn">
        <span class="button-text">Opret udlån</span>
    </a>
    <a [routerLink]="['profil']" class="button-link defaultBtn">
        <span class="button-text">Profil</span>
    </a>
</div>